<!-- header started -->
<header>
  {{> navbar}}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <h1 class="headerTitle">Сладкие новогодние подарки 2021!</h1>
        <p class="headerText">
          Новый год — это ожидаемый многими праздник, наполненный сюрпризами
          и яркими эмоциями. Предлагаем Вам оценить вкусные сладкие подарки
          на новый год 2021. Наш каталог сладких новогодних подарков детям к
          услугам!
        </p>
      </div>
    </div>
  </div>
</header>

<!-- main started -->
<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="mainTitle">Коммерческое предложение</h2>
        <p class="mainText">
          Настоящим выражаем Вам своё почтение и предлагаем ряд подарочных
          комплектов на новый год для Вас, Вашего трудового коллектива и их
          семей. Наша компания ООО «ARМADA AZIA TRADE» специализируется на
          поставках подарочных комплектов для различных мероприятий и
          праздников.
        </p>
        <p class="mainText">
          Мы работаем в этой сфере в течении многих лет и нашими партнерами
          стали более 50 организации и компаний, таких как АО «Алмалыкский
          ГМК», AO «AMMAFOS — МAXAM», ГYП «O’zGEORANGMETLIТI», ИП ООО
          «HUAWEI», ГУП «Узбекистон нашриет уйи», АО «УЗКИМЁСАНОАТ», АО
          «УЗПАХТАСАНОАТ», ГАК «УЗБЕК ЕНГИЛ САНОАТ, «Республика
          ихтисослашган акушерлик ва гинекология илмий амалий-тиббиёт
          маркази», «СУДЕБНЫЙ ДЕПАРТАМЕНТ», ООО «BRIZ», СП «ONIKS», «LUKOIL»
          «(ФНПЗ)» «GМ UZBEКISTAN» АО«ФЕРГАНСКИЙ НЕФТЕ-ПЕРЕРАБАТЫВАЮЩИЙ
          ЗАВОД ПК РОДДОМ – 2, «V L GALPERIN NOМIDAGI TOSHКENT TRUВA ZAVODI»
          MChj «IPAK YOLI» AITB CНILONZOR FILIALI XODIМLARI КASSA, ПК ОАО
          СЗСМ (СЕРГЕЛИ), O’ZBEКISTON TA’LIM, FAN VA MADANIYAT XODIМLARI
          КАSАВА UYUSНМASINIG ПК NVA СП, «TURONBANK» АТВ, ПРОФКОМ
          «САВДОГАРБАНК» МИНИСТЕРСТВО ЮСТИЦИИ РУз. и другие.
        </p>
        <p class="mainText">
          Наша организация сотрудничает с мировыми производителями
          кондитерских изделий – компания «МARS» «NESTLE» «Славянка»
          «Победа» «Красный Октябрь» «Рот Фронт» «ЯШКИНO» «ROSHEN»
          «Millennium» «Бабаевский» «Alpen Gold» «CHUPА CHUPS» «Акконд»
          «FERRERO» «КОNТI» «MERCI» «BISCOLATA» «ELVAN» а также с
          национальными производителями, такими как «КREMBER» и «CRAFERS» и
          следует отметить, что их продукция не уступает по своим вкусовым
          качествам.
        </p>
        <p class="mainText mainTextL">
          Благодаря тому, что мы работаем с поставщиками на прямую, мы имеем
          самые низкие цены на продукции. В приложении представляем Вашему
          вниманию более 20 вариантов новогодних детских подарков и
          корпоративные подарки для ваших сотрудников, а также мы можем
          предложить состав подарков по Вашему желанию, усмотрению и вкусу.
          Подарочный набор состоит из шоколада, конфет печенья и других
          сладостей. Каждый набор упакован в подарочную новогоднюю коробку,
          а их у нас имеется более 100 видов. При заказе от 5000 штук дизайн
          коробки может быть изменен по вашему желанию и на каждый
          подарочный комплект может быть нанесен логотип вашей организаций
          по вашему усмотрению.
          <b>Надеемся на долгое и взаимное плодотворное сотрудничество.</b>
        </p>
      </div>
    </div>
  </div>
</main>

<!-- category started -->
<section class="category">
  <div class="categoryHeader">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="categoryTitle">Каталог новогодних подарков 2021</h2>
          <p class="categoryText">
            Cкачать актуальный каталог подарков за
            <span class="dateNow">DATE !</span>:
          </p>
          <a class="categoryLink" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="bi bi-file-earmark-arrow-down" viewBox="0 0 16 16">
              <path
                d="M8.5 6.5a.5.5 0 0 0-1 0v3.793L6.354 9.146a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0-.708-.708L8.5 10.293V6.5z" />
              <path
                d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5v2z" />
            </svg>
            Каталог</a>
        </div>
      </div>
    </div>
  </div>
  <div class="categoryBody">
    <div class="container">
      <div class="row justify-content-center">
        {{#if products}}
        {{#each products}}
        <div class="col-lg-4 col-md-6 col-sm-10">
          <div class="card" style="overflow: hidden">
            <img src="/images/{{image}}" class="card-img-top" alt="jpg" />
            <div class="card-body">
              <h5 class="card-title cardTitle">{{name}}</h5>
              <p class="card-text cardWeight">{{weight}}</p>
              <p class="card-text cardPrice">{{price}} сум</p>

              <div class="cardInfo" style="display: none">
                {{#each info}}
                <p><b>{{infoTitle}}</b></p>
                {{#each infoText}}
                <p>{{text}}</p>
                {{/each}}
                {{/each}}

                {{#if @root.admin}}
                <div class="btns">
                  <a href="/admin/edit/{{id}}" class="btn btn-primary">Edit</a>
                  <a href="/admin/delete/{{id}}" class="btn btn-primary">Delete</a>
                </div>
                {{/if}}
              </div>

              <button class="btn cardBtn">
                <div class="iconDown" style="display: inline-block; padding: 0 10px">
                  Показать
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </div>
                <div class="iconUp d-none" style="display: inline-block; padding: 0 18px">
                  Скрыть
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z" />
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
        {{/each}}
        {{else}}
        <p>Здесь нет продуктов</p>
        {{/if}}
      </div>
    </div>
  </div>
</section>

<!-- partners started -->
<section class="partners">
  <div class="container">
    <div class="sectionTop">
      <h2 class="sectionTitle">Наши поставщики</h2>
      <div class="swiper slider1 swiper1">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/millennium.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/roshen.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/millennium.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/roshen.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/millennium.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/roshen.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/millennium.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/roshen.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/millennium.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/roshen.png" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
    <div class="sectionBottom">
      <h2 class="sectionTitle">Наши партнёры</h2>
      <div class="swiper slider1 swiper2">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/ipakyolibank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/savdogarbank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/ipakyolibank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/savdogarbank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/ipakyolibank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/savdogarbank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/ipakyolibank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/savdogarbank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/ipakyolibank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/savdogarbank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/ipakyolibank.png" alt="" />
          </div>
          <div class="swiper-slide">
            <img src="/images/savdogarbank.png" alt="" />
          </div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<script>
  window.addEventListener("load", function (e) {
    $(".cardBtn").on("click", function (e) {
      $(this).parent().find(".cardInfo").slideToggle();
      $(this).find(".iconDown").toggleClass("d-none");
      $(this).find(".iconUp").toggleClass("d-none");
    });
    $(".dateNow").html(window.moment(new Date()).format("DD.MM.YYYY"));
  });
</script>